@charset "UTF-8";
#Topline h2 {
	background-color: #393A3C;
	color: #FCFBFB;
	font-family: actor;
	font-style: normal;
	font-weight: 600;
	font-size: small;
	padding-top: 12px;
	padding-right: 5px;
	padding-bottom: 12px;
	padding-left: 42px;
	margin-bottom: 0px;
	position: static;
	list-style-type: none;
	width: 1000px;
}
#Leftline {
	background-color: #191718;
	color: #FBF9F9;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 180px;
	height: 600px;
	position: relative;
	float: left;
	font-size: 9pt;
}
#Leftline_top {
	width: 180px;
	height: 100px;
	background-color: #F65857;
	float: left;
}
#Navi ul {
	padding-left: 42px;
	list-style-type: none;
	font-family: actor;
	font-style: normal;
	font-weight: 400;
	font-size: small;
	line-height: 25px;
	color: #3F3F3F;
	float: left;
}
#Navi .naviul li a  {
	color: #575757;
	text-decoration: none;
	font-style: normal;
}
#Navi .naviul li a:hover {
	color: #BDBDBD;
}
#profile {
	list-style-image: url(Images/ico_profile.png);
	list-style-position: outside;
}
#activity {
	list-style-image: url(Images/ico_act.png);
	list-style-position: outside;
}
#arrangement {
	list-style-image: url(Images/ico_arrange.png);
	list-style-position: outside;
}
#Rightline {
	width: 180px;
	height: 600px;
	position: absolute;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #F5F4F4;
	left: 875px;
	float: left;
}
#my_profile {
	width: 150px;
	height: 150px;
	position: relative;
	top: 90px;
	left: 9px;
}
#Rightline #mine {
	color: #9F9E9E;
	font-family: actor;
	font-style: normal;
	font-weight: 500;
	font-size: 22pt;
	position: relative;
	left: 13px;
	top: 119px;
}
#my_profile #arr_header {
	background-color: #E84BA2;
}
#Content {
	width: 685px;
	height: 500px;
	float: left;
	display: block;
}
#Content h1 {
	font-family: actor;
	font-style: normal;
	font-weight: 400;
	font-size: x-large;
	margin-left: 50px;
	margin-top: 19px;
	-webkit-box-shadow: inset 0px 0px;
	box-shadow: inset 0px 0px;
	color: #8F8E8E;
}
#Content h2 {
	position: static;
}
#postbutton {
	width: 100px;
	height: 30px;
	position: absolute;
	display: inline;
	text-decoration: none;
	font-family: actor;
	font-style: normal;
	font-weight: 400;
	font-size: small;
	text-align: center;
	text-transform: capitalize;
	background-color: #F65857;
	margin-top: -45px;
	margin-left: 510px;
	background-origin: border-box;
}
#buttonposi {
	position: relative;
	top: 7px;
	font-family: actor;
	font-style: normal;
	font-weight: 400;
	font-size: 9pt;
	color: #FCFBFB;
}
.arr_info {
	width: 210px;
	border-spacing: 1px 1px;
	border: thin solid #E0E0E0;
	position: relative;
	left: 14px;
	top: 25px;
	float: left;
	opacity: 1;
	max-height: 250px;
	height: 250px;
	padding-left: px;
	margin-left: 5px;
}
#arr_header {
	height: 3px;
	background-color: #73C0CA;
}
.arr_info p {
	position: relative;
	margin-left: 15px;
	margin-right: 15px;
	font-family: actor;
	font-style: normal;
	font-weight: 400;
	font-size: 9pt;
	line-height: 6px;
}
.arr_info #line {
	margin-left: 5px;
	margin-right: 5px;
	opacity: 0.25;
}
.arr_info input {
	position: relative;
	top: 140px;
	margin-left: 17px;
}
